html {
    --dark-gray: rgb(100, 100, 100);
    --light-gray: rgb(150, 150, 150);
    --focus-blue: rgb(90, 190, 220);
}

td .logo, .search-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div center input {
    margin-left: 20px;
    margin-right: 20px;
}

.search-box {
    --target-size: 48px;
    --box-height: var(--target-size);
    --border-radius: calc(var(--box-height) / 2);
    --border-width: 2px;
    --icon-size: calc(var(--box-height) * 3/4 );
    --side-margin: calc(var(--border-radius) / 2);
    --icon-vertical-margin: calc( ( var(--box-height) - var(--icon-size) ) / 2 );
    position:relative;
    height: var(--box-height);
    max-width: 570px;
    min-width: 400px;
}

.search-box svg {
    fill: var(--dark-gray);
    height: var(--icon-size);
    width: var(--icon-size);
    position: absolute;
    left: var(--side-margin);
    top: var(--icon-vertical-margin);
    bottom: var(--icon-vertical-margin);
    z-index: -1;
}

.search-box input[type="search"] {
    border: var(--border-width) solid var(--dark-gray);
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
    color: var(--dark-gray); 
    font-family: 'Noto Sans', Verdana, sans-serif;
    font-size: 1rem;
    padding-left: calc( var(--side-margin) + var(--icon-size) + 4px);
    padding-right: var(--side-margin);
    background: transparent;
}
 
.search-box input[type="search"]:focus,input[type="search"]:hover {
    border-color: var(--focus-blue);
    box-shadow: 0px 0px 5px var(--focus-blue);
    outline: 1px solid transparent;
}